---
import { getCollection, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { twMerge } from "tailwind-merge";

export async function getStaticPaths() {
  const posts = await getCollection("code");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const title = `Code - ${post.data.title}`;
const description = post.data.excerpt || "";
---

<BaseLayout title={title} description={description}>
  <article>
    <h1 class="text-2xl md:text-3xl font-bold mb-6 leading-none">
      {post.data.title}
    </h1>

    <a href={post.data.link} class={twMerge(post.data.archived && "line-through")}
      >&Dagger; View on Github</a
    >

    <hr />

    <div class="prose prose-lg max-w-[34em]">
      <Content />
    </div>
  </article>

  <aside>
    <a href="/code" class="inline-block mt-32"> &larr; code </a>
  </aside>
</BaseLayout>
